/* Hanken Grotesk  */
@font-face {
    font-display: swap;
    font-family: 'HankenGrotesk';
    // font-style: normal;
    font-weight: 100 900;
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('woff2');
}